$transition : .5s;
$transitionFast : .2s;
$backgroundObjects: #fff;

/* tags */
$heightTagIcon: 15px;
$paddingTagIcon: 5px;

/* objects */
$heightObject: 160px;
$paddingObjectContent: 15px;
$paddingBottomBody: 15px;



/* Bootstrap */
	
	/* Glyphicons */
		$icon-font-path: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/fonts/';
		$bootstrap-sass-asset-helper: false;
	
	/* Colors */
		$brand-primary: #428bca;
		$brand-success: #5cb85c;
		$brand-info:    #5bc0de;
		$brand-warning: #f0ad4e;
		$brand-danger:  #d9534f;