@import "bootstrap";
@import "variables";
@import "mixins";
@import "extend";



*,
*::before,
*::after {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	@include transition($transition);

	&, .container {
		background-color: #f5f5f5;
	}

	> :first-child {
		margin-top: 20px;
	}

	&, a {
		color: #777;
	}

	a {
		text-decoration: underline;
		@include transition($transition);
	}

	.heartIcon {
		@extend %heartIcon;
	}

	&:hover {
		color: #333;
		a {
			color: #428bca;
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}

		.heartIcon {
			@include transform(rotate(0deg));
		}
	}
}

.navbar-brand {
	@include transition(opacity $transition);
	opacity: .8;
	&:hover {
		opacity: 1;
	}
}
.navbar-default .navbar-nav > li > a {
	@include transition(color $transition);
}

.panel-body > :last-child{
	margin-bottom: 0;
}
.panel-title > a:only-child {
	display: block;
	width: 100%;
}

u, ins {
	text-decoration: underline;
}

s, strike, del {
	text-decoration: line-through;
}